.coverabout{
    height: 500px;
    background: url(../../img/yande.re\ 407064\ fujita_\(condor\)\ kantai_collection\ murakumo_\(kancolle\)\ pantyhose\ seifuku\ umbrella.jpg) no-repeat center;
    color: #ffffff;
    background-size: 100%;
    text-align: center;
    position: relative;
}

.coverabout h1{
    color: white;
    text-shadow: 0px 0px 10px rgba(0,0,0,1);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 84.5px;
    font-family: "Garamond";
}

.textabout1{
    font-family: "Garamond";
    text-align: justify;
}

.textabout1 h1{
    font-size: 35px;
    color: #2c518d;
    text-align: center;
}

.textabout1 div p{
    font-size: 25px;
    color: black;
}

.textabout1 div p b{
    color: #2c518d;
    font-size: 25px;
}

.bodycontain_about1{
    background-color: rgba(117, 117, 117, 0.1);
    padding: 80px 0;
}

.inbodycontain_about1{
    width: 90%;
    position: relative;
    margin: auto;
}

.bodycontain_about2{
    width: 100%;
    background-color: #2c518d;
}

.contain2_left{
    margin: auto;
    width: 100%;
    padding: 3%;
}

.textabout4{
    font-family: "Garamond";
    text-align: justify;
}

.textabout4 h3{
    font-size: 20px;
}

.textabout4 h4{
    font-size: 18px;
}

.textabout4 p{
    font-size: 18px;
}

.aboutcontain1{
    width: 100%;
    display: flex;
}

.aboutcontain1 img{
    width: 5%;
    height: 5%;
    display: block;
    margin: auto;
    margin-right: 2%;
}

.aboutimg1{
    overflow: hidden;
}

.aboutimg1 img{
    max-width: 100%;
    margin: -20% 0 -80%;
}

.bodycontain_about3{
    width: 100%;
    color: black;
}

.aboutimg2{
    overflow: hidden;
}

.aboutimg2 img{
    max-width: 100%;
    margin: -30% 0 -42.3%;
}

.bodycontain_about4{
    width: 100%;
    background-color: rgb(85, 85, 85)
}

.aboutimg3{
    overflow: hidden;
}

.aboutimg3 img{
    max-width: 100%;
    margin: -10% 0 -74.25%;
}

.textabout3{
    color: #2c518d;
    font-family: "Garamond";
    text-align: justify;
}

.bodycontain_about5{
    padding: 80px 0;
}

.textabout3_h1{
    margin: auto;
}

.textabout3 h1{
    font-size: 40px;
    text-align: center;
    margin: auto;
}

.textabout3 div p{
    font-size: 25px;
}

.bodycontain_about6{
    width: 100%;
}

.aboutimg4{
    overflow: hidden;
}

.aboutimg4 img{
    max-width: 100%;
    margin: -21% 0 -23%;
}

.coverabout1{
    height: 700px;
    background: url(../../img/67463565_p0.jpg) no-repeat bottom;
    color: black;
    background-size: 100%;
    text-align: center;
    position: relative;
    font-family: "Garamond";
}

.coverabouttext1{
    margin: auto;
    width: 90%;
    padding-top: 2%;
}

.coverabouttext1 h1{
    color: #2c518d;
    font-size: 40px;
}

.coverabouttext1 p{
    font-size: 25px;
}

.coverabouttext1 h3{
    color: #2c518d;
    font-size: 30px;
}

@media only screen and (max-width: 1366px){
    .coverabout{
        height: 355px;
    }
}